@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
  background-color: transparent;
  border: 2px solid red;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 0;
}

.cursor2 {
  background-color: transparent;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 0;
}


.cursor3 {
  background-color: transparent;
  border: 2px solid white;
  height: 25px;
  width: 25px;
  position: fixed;
  top: 0;
}